body{
    position: relative;
}
.wall{
    width: 150px;
    height: 150px;
    background-color: brown;
    position: relative;
    top: 80px;
    z-index: 10;
}
.door{
    width: 50px;
    height: 80px;
    background-color: saddlebrown;
    position: relative;
    z-index: 20;
    left: 100px;
    top: -60px;
}
.window{
    width: 60px;
    height: 60px;
    background-color: aqua;
    position: relative;
    z-index: 20;
    border-radius: 40%;
    top: -20px;
    left: 20px;
}
.krisha{
    width: 150px;
    height: 40px;
    background-color: gold;
    position: relative;
    z-index: 30;
    top: -250px;
}
.tryba{
    width: 20px;
    height: 40px;
    background-color: green;
    position: relative;
    z-index: 20;
    top: -220px;
    left: 100px;
}
.wall1{
    width: 150px;
    height: 150px;
    background-color: black;
    position: absolute;
    top: 90px;
    left: 250px;
    z-index: 10;
}
.door1{
    width: 50px;
    height: 80px;
    background-color: blueviolet;
    position: absolute;
    z-index: 20;
    left: 270px;
    top: 160px;
}
.window1{
    width: 60px;
    height: 60px;
    background-color: rgb(17, 0, 255);
    position: absolute;
    z-index: 20;
    border-radius: 40%;
    left: 330px;
    top: 135px;
}
.krisha1{
    width: 150px;
    height: 40px;
    background-color: aquamarine;
    position: absolute;
    left: 250px;
    top: 90px;
    z-index: 30;
}
.tryba1{
    width: 20px;
    height: 40px;
    background-color: green;
    position: absolute;
    z-index: 20;
    top: 70px;
    left: 330px;
}
.wall2{
    width: 150px;
    height: 150px;
    background-color: magenta;
    position: fixed;
    top: 90px;
    left: 490px;
    z-index: 10;
}
.door2{
    width: 50px;
    height: 80px;
    background-color: rgb(198, 226, 43);
    position: fixed;
    z-index: 20;
    left: 580px;
    top: 160px;
}
.window2{
    width: 60px;
    height: 60px;
    background-color: rgb(146, 139, 248);
    position: fixed;
    z-index: 20;
    border-radius: 40%;
    left: 500px;
    top: 135px;
}
.krisha2{
    width: 150px;
    height: 40px;
    background-color: rgb(238, 5, 5);
    position: fixed;
    left: 490px;
    top: 90px;
    z-index: 30;
}
.tryba2{
    width: 20px;
    height: 40px;
    background-color: green;
    position: fixed;
    z-index: 20;
    top: 60px;
    left: 590px;
}
.house{
    margin: 550px 30px 0;
}
.krisha3{
    position: sticky;
    width: 0;
    height: 0;
    border-left: 250px solid transparent;
	border-right: 250px solid transparent;
    border-bottom: 200px solid red;
    margin: 0 0 400px;
    top: 50px;
}
.wall3{
    position: sticky;
    top: 250px;
    width: 400px;
    height: 400px;
    background-color: darkblue;
    z-index: 10;
    margin: 200px 45px 0;
    padding: 50px 20px;
    box-sizing: border-box;
}
.window3{
    position: sticky;
    top: 270px;
    width: 150px;
    height: 150px;
    background-color: rgb(61, 178, 32);
    border-radius: 50%;
    z-index: 20;
    margin: 30px 270px 200px;
}
.door3{
    position: sticky;
    top: 450px;
    width: 150px;
    height: 200px;
    background-color: rgb(243, 134, 134);
    margin: 100px 100px;
    z-index: 30;
}
